<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quadcopter Controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2814EB9A1E6BB2EB00203947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2814EBB31E6BB2EB00203947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2814EBBE1E6BB2EB00203947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
